.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.text-2xs {
  font-size: 12px;
}
.material-icons.text-xs {
  font-size: 18px;
}
.material-icons.text-md {
  font-size: 24px;
}
.material-icons.text-lg {
  font-size: 32px;
}
.material-icons.text-xl {
  font-size: 48px;
}
.material-icons.text-2xl {
  font-size: 62px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-post h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}
.blog-post p {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  line-height: 1.2;
}
.blog-post ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.blog-post li {
  list-style-type: square;
  margin-left: 1rem;
}
.blog-post pre {
  background-color: #00000022;
  padding: 0.5rem;
  border-top: 0.5rem solid #6b70a0;
  border-bottom: 0.5rem solid #6b70a0;
  border-radius: 5px;
}
.blog-post blockquote {
  border-left: 5px solid #6b70a0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #00000022;
  padding: 0.5rem;
  border-radius: 5px;
}
.blog-post blockquote p {
  padding: unset;
}
.blog-post a {
  color: #7d81ac;
}
.blog-post h1 {
  font-size: 3rem;
}
.blog-post h2 {
  font-size: 2.5rem;
}
.blog-post h3 {
  font-size: 2rem;
}
.blog-post h4 {
  font-size: 1rem;
}
.blog-post h5 {
  font-size: 0.75rem;
}
.blog-post h6 {
  font-size: 0.5rem;
}
